# Database connection string for Postgres / Neon DB.
# Example: postgres://[user]:[password]@[neon-project].neon.tech/neondb?sslmode=require
DATABASE_URL=postgres://ims_user:ims_password@localhost:5433/ims_pro_db
PORT=3002
